body {
  font-family: monospace;
  font-size: 14px;
  background-color: #fcfcfc;
  padding: 10px;
}

table {
  padding: 10px;
  text-align: left;
}

th {
  margin-bottom: 10px;
  padding: 20px 20px 0px 20px;
}
td {
  padding: 20px;

  margin-bottom: 10px;
}

span {

  font-size: 12px;
}
